.header {
    z-index: 22222;
    display: grid;
    grid-template-columns: 70% 30%  ;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(180deg, rgba(117, 121, 255, 1) 0%, rgba(178, 36, 239, 1) 80%);
    background: -o-linear-gradient(180deg, rgba(117, 121, 255, 1) 0%, rgba(178, 36, 239, 1) 80%);
    background: -moz-linear-gradient(180deg, rgba(117, 121, 255, 1) 0%, rgba(178, 36, 239, 1) 80%);
    background: linear-gradient(180deg, rgba(117, 121, 255, 1) 0%, rgba(178, 36, 239, 1) 80%);
}

.container {
    display: inline-block;
    margin: 0 auto;
}

.navlink {
    margin: 0 10px;
    color: #fff;
    font-size: 17px;
}

